@model AssetManagerMvc.Models.Asset

<div class="form-group">
    @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10" style="float: left;">
        @Html.DropDownList("Owner", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
        <a id="ownerLink" href="javascript:" onclick="changeToText('Owner', 'ownerLink'); return false;">New owner?</a>
    </div>
</div>

