.dl-horizontal dd {
    margin-left: 160px;
}

.dl-horizontal dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
    display: table;
    content: " ";
}

.dl-horizontal dd:after {
    clear: both;
}
a[href]:after {
    content:"";
  }
  abbr[title]:after {
    content:"";
  }