@model IEnumerable<AssetManagerMvc.Models.TelephoneListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Print", "Print")

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            NumberIntern
        </th>
        <th>
            Department
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.NumberIntern</td>
            <td>@item.Department</td>
        </tr>
    }
</table>
