
@model AssetManagerMvc.Models.Computer

<div class="form-group">
    @Html.LabelFor(model => model.Browser, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10" style="float: left;">
        @Html.DropDownList("Browser", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Browser, "", new { @class = "text-danger" })
        <a id="browserLink" href="javascript:" onclick="changeToText('Browser', 'browserLink'); return false;">New browser?</a>
    </div>
</div>