@model AssetManagerMvc.Models.Computer

<div class="form-group">
    @Html.LabelFor(model => model.ImageVersion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10" style="float: left;">
        @Html.DropDownList("ImageVersion", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ImageVersion, "", new { @class = "text-danger" })
        <a id="imageVersionLink" href="javascript:" onclick="changeToText('ImageVersion', 'imageVersionLink'); return false;">New image version?</a>
    </div>
</div>

