@model AssetManagerMvc.Models.Computer

<div class="form-group">
    @Html.LabelFor(model => model.OfficeVersion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10" style="float: left;">
        @Html.DropDownList("OfficeVersion", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OfficeVersion, "", new { @class = "text-danger" })
        <a id="typeLink" href="javascript:" onclick="changeToText('OfficeVersion', 'typeLink'); return false;">New office version?</a>
    </div>
</div>
